/* custom css */
body { color: green }

#container{ height: 100px; width: 500px; background-color: green; border: 1px solid #000;  }

#btn{ background-color:#000;  border: 5px solid #000 !important;} 
ul li{display: inline; background: #000; font-weight: 30px; size: 30px;}  